.counterButton {
    font-size : 20px;
    background-color: #00a5ab;
    width : 100px;
    margin:10px;
    color: white;
    padding: 15px;
    border-radius:30px;
    border-color: black;
    border-width: 2px;

}

.count {
    /* padding: 20px;d */
    font-size: 50px;
}
.TotalCount{
    color:#00a5ab;
    font-size:150px;
}

.resetButton{
    font-size : 20px;
    background-color: #00a5ab;
    width : 100px;
    margin:10px;
    color: white;
    padding: 15px;
    border-radius:30px;
    border-color: black;
    border-width: 2px;
}